@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
}

.profile-image {
    position: absolute;
    top: 0;
    left: 75%;
    transform: translateX(-80%);
    z-index: 1;
    // object-fit: cover;
    // width: 100%;
    // height: 100%;
}

.navbar {
    z-index: 0;
}

