<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<meta name="title" content="Christopher Bichon - Développeur web">
		<link rel="icon" href="/assets/imgs/logo.ico" type="image/x-icon">
		<meta name="description" content="Je suis Christopher Bichon, développeur web. 
		Explorez mon portfolio, découvrez mes compétences en [Symfony, PHP, JavaScript, HTML, CSS] 
		et mes projets. Contactez-moi pour discuter de collaborations ou de projets passionnants.">
		<meta name="author" content="Christopher Bichon">
		<meta property="og:title" content="Christopher Bichon - Développeur web">
		<meta property="og:description" content="Je suis Christopher Bichon, développeur web. 
		Explorez mon portfolio, découvrez mes compétences en [Symfony, PHP, JavaScript, HTML, CSS] 
		et mes projets. Contactez-moi pour discuter de collaborations ou de projets passionnants.">
		<meta property="og:author" content="Christopher Bichon">
		<meta property="url" content="https://krystdev.fr/">
		<meta property="og:image" content="assets/imgs/logo.webp">
		<title>
			{% block title %}
				KrytDev
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('assets/imgs/logo.ico') }}" type="image/x-icon">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="d-flex flex-column min-vh-100 justify-content-between">
		{% if app.request.attributes.get('_route') != 'app_login' %}
		{% include "_partials/_header.html.twig" %}
		{% endif %}
		<div class="flex-grow-1">

			{% include "_partials/_flash.html.twig" %}
			{% block body %}
			{% endblock %}
		</div>
		{% if app.request.attributes.get('_route') != 'app_login' %}
		{% include "_partials/_footer.html.twig" %}
		{% endif %}

	</body>
</html>
